@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Bitcount+Prop+Double+Ink:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;
   font-family: "Alan Sans", sans-serif;
   font-weight: 400;
}

body{
    background-color: rgb(252, 218, 173);
    width: 100%;

}

input::placeholder{
    color: #C76C5B;
}
::placeholder{
    color:#C76C5B;
    
}

.seção1{
    width: 100%;
    background-color: #EDE7DD;
    padding: 0px;
    
}
.logo1{
    width: 90px;
    margin-top: 5.5px;
    
}
 .botaodeinicio{
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    background-color: none;
   
 }

 .botaodeinicio:hover{
    background-color: #EDE7DD;
    box-shadow: 0px 5px #EDE7DD
 }

 /*linha do primeiro botão*/
hr{
    border: 1px solid #d1c2a7;
 }

 /*área do titulo*/ 
 
 .tituloDaNota{
    width: 75%;
    padding: 0.7rem;
    margin: 30px;
    background-color: #EDE7DD;
    border-radius: 5px;
    border: 2px solid #d1c2a7;
    outline: none
    
}

.tituloDaNota:focus{
   outline: 1.5px solid #ffaa5e;
}

.seçaoDeTitulo{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

 /*partes da nota em si*/

 .areaDaNota1{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   
 }

 .areaDaNota{
    width: 100%;
    border: 2px solid #d1c2a7;
    border-radius: 5px;
    background-color: #EDE7DD;
    resize: vertical;
    outline: none;
  
 }

 .areaDaNota:focus{
    outline: 1.5px solid #ffaa5e;
 }
  
 .notaemsi{
    border-radius: 5px;
    border: none;
 }


/*área do botão de configurações*/

 .configurações1{
    width: 100%;
    background-color: none;
    padding: 0px;
 }
 
 .configurações{
    width: 50px;
    margin-left: auto;
    margin-top: -29px;
    margin-right: 0.4%;
   
   }

 .botao1{
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    background: none;

   }

 .menuDeOpcoes{
   margin-left: -200px;
   margin-top: 20px;
   display: none;
   position: absolute;

 }

 .opcoes{
   width: 70%;
   background-color: none;
   padding: 5px;
   
   
   
 }
 

 
    