*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-color: rgb(252, 218, 173);
    width: 100%;

}

input::placeholder{
    color: #C76C5B;
}
::placeholder{
    color:#C76C5B;
    
}


.seção1{
    width: 100%;
    background-color: #EDE7DD;
    padding: 0px;
    
}
.logo1{
    width: 90px;
    margin-top: 5.5px;
    
}
 .botaodeinicio{
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    background-color: none;
   
 }

 .botaodeinicio:hover{
    background-color: #EDE7DD;
    box-shadow: 0px 5px #EDE7DD
 }

 .tituloDaNota{
    width: 80%;
    padding: 0.7rem;
    margin: 30px;
    background-color: #EDE7DD;
    border-radius: 5px;
    border: 2px solid #d1c2a7;
  
}

.seçaoDeTitulo{
    display: flex;
    justify-content: center;
    width: 100%;
    
}


 .areaDaNota1{
    justify-content:center ;
    display: flex; 
 }

 .areaDaNota{
    height: auto;
    justify-content: center;
    resize: vertical;
    box-sizing: border-box;
    width: 750px;
    display: flex;
    border-radius: 5px;
    padding: 2px;
    background-color: #EDE7DD;
    border: none;
  
 }
  
 .notaemsi{
    border-radius: 5px;
    border: 2px solid #d1c2a7;
 }

 hr{
    border: 1px solid #d1c2a7;
 }

 .configurações1{
    padding: 5px;
    margin-left: 82%;
    margin-top: -32px;
    position: relative;

 }
 .configurações{
    display: flex;
    padding: 5px;
    margin-left: 82%;
    margin-top: -32px;
    position: relative;}

.configurações:hover .botao1{
    display: block;
}
    

 .botao1{
    border: none;
    width:2.3rem;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    background-color: none;}

 
 .botao1:hover{
    background-color: #EDE7DD;
    box-shadow: 0px 5px #EDE7DD
 }

 .menuDeOpcoes {
  display: none; /* escondido por padrão */
 }
    